<!DOCTYPE html>
<html>
<head>
    <title>Candidate</title>
</head>
<body>
    <h2>Candidate Form</h2>

    <form method="POST">
        Name: <input name="name"><br>
        Key: <input name="key"><br><br>

        10th: <input name="tenth"><br>
        12th: <input name="twelfth"><br>
        Graduation: <input name="grad"><br>
        Backlogs: <input name="backlogs"><br><br>

        <h3>Answers</h3>
        Ans1: <input name="ans1"><br>
        Ans2: <input name="ans2"><br>
        Ans3: <input name="ans3"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
