<!DOCTYPE html>
<html>
<head>
    <title>Company</title>
</head>
<body>
    <h2>Company Criteria</h2>

    <form method="POST">
        10th %: <input name="tenth"><br>
        12th %: <input name="twelfth"><br>
        Graduation %: <input name="grad"><br>
        Backlogs: <input name="backlogs"><br><br>

        <h3>Questions</h3>

        Q1: <input name="q1">
        Answer: <input name="a1">
        Marks: <input name="m1"><br>

        Q2: <input name="q2">
        Answer: <input name="a2">
        Marks: <input name="m2"><br>

        Q3: <input name="q3">
        Answer: <input name="a3">
        Marks: <input name="m3"><br><br>

        <button type="submit">Create Company</button>
    </form>
</body>
</html>
