<h2>Company Setup</h2>

<form method="POST">

10th %: <input name="tenth"><br>
12th %: <input name="twelfth"><br>
Graduation %: <input name="grad"><br>
Backlogs: <input name="backlogs"><br><br>

Number of Questions: <input name="num"><br><br>

<!-- Example 3 questions -->
Q1: <input name="q1"> Ans: <input name="a1"> Marks: <input name="m1"><br>
Q2: <input name="q2"> Ans: <input name="a2"> Marks: <input name="m2"><br>
Q3: <input name="q3"> Ans: <input name="a3"> Marks: <input name="m3"><br>

<button type="submit">Create</button>
</form>
